@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
.parent {
  padding: 3em;
  display: grid;
  font-size: 1em !important;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
}

.accordion-name {
  text-align: left;
}

.brick {
  padding: 2em;
  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: none;
  color: #ffffff;
  font-weight: 100;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.brick.result {
  cursor: default;
  padding: 3rem 4rem;
}
.brick.result.good {
  background-color: #7ac142;
}
.brick.result.bad {
  background-color: #ce181e;
}
.brick.razdel {
  cursor: pointer;
  padding: 3rem 7rem;
  background-color: #1e3685;
}
.brick.razdel.early {
  background-color: #101d47;
  cursor: default;
}
.brick.razdel.selected {
  transform: translateY(-8px);
  cursor: default;
}
.brick.test {
  background-color: #007cc0;
}

.flex-evenly-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.send-button {
  padding: 1rem 2rem;
  background: #1e3685;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  margin-top: 1.2rem;
  border-radius: 0.3rem;
}
.accordion.name.good {
  border: 1px solid #7ac142;
}
.accordion.name.bad {
  border: 1px solid #ce181e;
}
.accordion.active .accordion-name.good {
  color: #629d33;
}
.accordion.active .accordion-name.bad {
  color: #a01317;
}

.accordion-name.good {
  color: #7ac142;
}
.accordion-name.good:before {
  background-color: #7ac142;
}
.accordion-name.good:hover {
  color: #629d33;
}
.accordion-name.bad {
  color: #ce181e;
}
.accordion-name.bad:before {
  background-color: #ce181e;
}
.accordion-name.bad:hover {
  color: #a01317;
}

@keyframes loader-animation {
  0% {
    width: 0%;
  }
  49% {
    width: 100%;
    left: 0%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0%;
    width: 100%;
  }
}
.loader {
  height: 3px;
  width: 100%;
  overflow: hidden;
  display: none;
}

.loader .bar {
    position: relative;
    height: 5px;
    background-color: #1e3685;
    animation-name: loader-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.card_container {
    width: 300px;
    height: 200px;
    position: relative;
    perspective: 800px;
    border-radius: 4px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-smoothing: antialiased;
    color: #47525d;
}

.card div.good {
    background-color: #7ac142;
}

.card div.bad {
    background-color: #ce181e;
}

.card .back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

/*# sourceMappingURL=blocks.css.map */
