<link rel="stylesheet" href="/public/css/mystyles.css">
<script src="/public/js/axios.min.js" type="application/javascript"></script>
<script src="/public/js/jquery.js"></script>
<link rel="stylesheet" href="/public/css/hover/hover.css">
<link href="/public/css/style.css" rel="stylesheet">
<link href="/public/css/main.css" rel="stylesheet">
<link rel="stylesheet" href="/public/css/blocks.css">
<link href="/public/css/vakansiya.css" rel="stylesheet">
{% block stylesheets %} {% endblock %}
<div class="wrapper">
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="/public/js/apiCalls.js"></script>
{% block javascripts %}{% endblock %}

